* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header h1 {
  color: #333;
}

.header button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: #e44d26;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  /* border-radius: 0.5rem; */
}

.notes-container {
  max-height: 95vh;
  overflow: hidden;
}

p {
  height: 12rem;
  max-width: 90%;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  position: relative;
}

p i {
  position: absolute;
  top: 12rem;
  left: 97%;
}

@media (max-width: 768px) {
  .notes-container {
    max-height: 80vh;
  }

  p {
    width: 90%;
    right: 5;
  }

  p i {
    left: 85%;
  }
}
